<div class="container mt-5">
  <h2 class="text-center mb-4">Add New Product</h2>
    <div class="card p-2 mb-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Add Product">
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary" (click)="openPopup()">Search Product</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" class="form-control" id="productName" [(ngModel)]="product.name" name="productName" placeholder="Enter product name" required>
    </div>

    <div class="form-group">
      <label for="productPrice">Price</label>
      <input type="number" class="form-control" id="productPrice" [(ngModel)]="product.price" name="productPrice" placeholder="Enter product price" required>
    </div>
    <div class="form-group">
      <label for="productPrice">Rate</label>
      <input type="number" class="form-control" id="productPrice" [(ngModel)]="product.rate" min="1" max="100" name="productRate" placeholder="Enter product rate" required>
    </div>

    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="number" class="form-control" id="stock" [(ngModel)]="product.stock" name="stock" placeholder="Enter stock quantity" required>
    </div>

    <div class="form-group">
      <label>Product Options</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="saleOption" [(ngModel)]="product.sale" name="saleOption">
        <label class="form-check-label" for="saleOption">Sale</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="newOption" [(ngModel)]="product.new" name="newOption">
        <label class="form-check-label" for="newOption">New</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="bestOption" [(ngModel)]="product.best" name="bestOption">
        <label class="form-check-label" for="bestOption">Best</label>
      </div>
    </div>

    <div class="form-group">
      <label for="productDescription">Description</label>
      <textarea class="form-control" id="productDescription" [(ngModel)]="product.description" name="productDescription" rows="4" placeholder="Enter product description" required></textarea>
    </div>

    <div class="form-group">
      <label>Product Slider Images</label>
      <div class="d-flex flex-wrap">
        <app-image-upload class="me-2 mb-2" [imageUrl]="sliderName1" (changeFile)="changeFileName($event,'slider1')"></app-image-upload>
        <app-image-upload class="me-2 mb-2" [imageUrl]="sliderName2" (changeFile)="changeFileName($event,'slider2')"></app-image-upload>
        <app-image-upload class="me-2 mb-2" [imageUrl]="sliderName3" (changeFile)="changeFileName($event,'slider3')"></app-image-upload>
        <app-image-upload class="mb-2"      [imageUrl]="sliderName4" (changeFile)="changeFileName($event,'slider4')"></app-image-upload>
      </div>
    </div>

    <div class="form-group">
      <label>Product Show Cart Image</label>
      <app-image-upload class="mb-2" (changeFile)="changeFileName($event,'img')" [imageUrl]="imgName"></app-image-upload>
    </div>

    <button type="button" class="btn btn-primary btn-block mt-3" (click)="onSubmit()">Add Product</button>

</div>


<app-popup [isOpen]="isPopupOpen" (close)="closePopup()" [title]="'Product Popup'" >
  <h6>Product search</h6>
  <app-table-template [isPaging]="true" [tableConfig]="config" [data]="items"  [isChangePageSize]="false"
  (handelChangePage)="handlePageEvent($event)" [len]="len" [total]="total" (clickRow)="clickRow($event)"
  ></app-table-template>
</app-popup>
