<div class="container mt-5">
  <div class="row">
    <!-- Product Images Slider -->
    <div class="col-md-6">
      <div id="productSlider" class="carousel slide product-slider" data-ride="carousel">
        <div class="carousel-inner">
          <ng-container *ngFor="let item of product.sliders; let i = index">
            <div class="carousel-item" [class.active]="i === 0">
              <img [src]=" apiUrl + '/' + item" class="d-block w-100" alt="Product Image {{ i + 1 }}">
            </div>
          </ng-container>
          <ng-container *ngIf="product.sliders == null">
            <div class="carousel-item active">
              <img src="https://via.placeholder.com/800x600" class="d-block w-100" alt="Product Image 1">
            </div>

          </ng-container>
          <!-- Add more slides as needed -->
        </div>
        <a class="carousel-control-prev" href="#productSlider" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#productSlider" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!-- Product Details -->
    <div class="col-md-6">
      <div class="badge-container">
        <span *ngIf="product.best" class="badge badge-success">Best</span>
        <span *ngIf="product.new" class="badge badge-primary">New</span>
        <span *ngIf="product.sale" class="badge badge-danger">Sale</span>
      </div>
      <h2 class="product-name">{{product.name}}</h2>
      <p class="text-muted">Category: <strong>{{product.category}}</strong></p>
      <div class="d-flex align-items-center">
        <!-- Discounted price in a different color -->
        <p class="text-danger fw-bold me-5 mb-0" style="margin-right: 40px;">
          ${{product.price}}
        </p>

        <!-- Original price with a strikethrough style -->
        <p class="text-muted text-decoration-line-through me-5 mb-0" style="margin-right: 40px;">
          ${{product.price * (1 - product.rate) | round}}
        </p>

        <!-- Discount percentage displayed next to the prices -->
        <p class="text-success fw-bold mb-0">
          -{{product.rate * 100 | round}}%
        </p>
      </div>





      <p class="text-muted">Stock: <strong>{{product.stock}}</strong></p>
      <p class="text-muted">Added On: <strong>{{product.createdAt}}</strong></p>

      <!-- Product Rating -->
      <div class="rating my-3">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-half-alt"></span>
        <span class="text-muted">4.5/5 (20 reviews)</span>
      </div>

      <!-- Add to Cart Button -->
      <button class="btn btn-primary btn-lg" (click)="clickBuy(product)">Add to Cart</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="description" [innerHTML]="getSanitizedDescription()"></div>
  </div>

  <app-product-rewiew [productid]="productId"></app-product-rewiew>



  <app-popup [isOpen]="false" (close)="closePopup()">
    <div class="promo-content p-4">
      <h4 class="text-center">Special Promotion!</h4>
      <div class="text-center my-3">
        <!-- Make the image responsive and center it -->
        <img [src]="product.img" class="img-fluid rounded" alt="Product Image">
      </div>
      <p class="text-center"><strong>The product is on sale for up to {{product.price * (1 - product.rate) | round}}</strong></p>
    </div>
  </app-popup>



  <!-- Google Maps -->
  <div class="map mt-5">
    <h3>Find Us Here</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.7863988219265!2d106.67405991430813!3d10.75798289233285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ccde4fdbe89%3A0x2f6d67f7a292e8e2!2zQ2jDoW5nIE1pbmgsIHBoxrDhu5EgS8O9IEtheSBDbywgU29uIEpvb2FuIEV4dHJhIG0xMzEgMSwgVi4!5e0!3m2!1svi!2s!4v1627733358880!5m2!1svi!2s" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
