.cursor{
    cursor: pointer;
}

.logo {
  max-width: 150px; /* Đặt kích thước tối đa của logo */
  height: auto; /* Đảm bảo tỷ lệ hình ảnh được giữ nguyên */
}
/* Định dạng cho các biểu tượng và số lượng trong giỏ hàng */
.cart-icon {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.cart-icon .fa {
  font-size: 20px;
}

.cart-count {
  position: absolute;
  top: -10px; /* Điều chỉnh giá trị này để căn chỉnh số lượng với biểu tượng */
  right: -10px; /* Điều chỉnh giá trị này để căn chỉnh số lượng với biểu tượng */
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Định dạng cho các biểu tượng login và logout */
.login-icon, .logout-icon {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.login-icon .fa, .logout-icon .fa {
  font-size: 20px;
}
