.hero-section {
  background: url('../../assets/images/logo.png') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 100px 0;
}
.skills-section {
  background-color: #f8f9fa;
  padding: 50px 0;
}



.contact-section {
  background-color: #f8f9fa; /* Light gray background */
}

.form-group {
  margin-bottom: 1.5rem; /* Space between form groups */
}

.form-label {
  font-weight: bold; /* Make label text bold */
  flex: 0 0 150px; /* Fixed width for labels */
  text-align: left; /* Align text to the left */
}

.form-control {
  border-radius: 0; /* Remove default border-radius */
  padding: 1rem; /* Add padding for better readability */
  border: 1px solid #ced4da; /* Border color */
}

.form-control:focus {
  border-color: #80bdff; /* Border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Shadow on focus */
}

.btn-primary {
  background-color: #007bff; /* Primary color */
  border-color: #007bff; /* Border color */
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker shade on hover */
  border-color: #004085; /* Darker border color on hover */
}

textarea {
  resize: vertical; /* Allow vertical resizing only */
}
